:root {
    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-text-dark: #191A15;
    --color-gray: #A6A6A6;
    --color-off-white: #F8F8FA;

    --color-background-dark: #161C28;
    --color-background-slate: #222938;
    --color-background-lavender: #F9F8FE;
    --color-background-light: #F9FAFB;

    --color-primary: #54BD95;
    --color-teal: #52BDAA;
    --color-green: #54BE96;
    --color-mint: #74C9A9;
    --color-mint-medium: #6BC2A1;
    --color-mint-light: #85DAB9;
    --color-pink-light: #FFD6D6;



    --border-radius-small: 10px;
    --border-radius-medium: 20px;
    --border-radius-large: 40px;
    --border-radius-pill: 70px;


   
    --font-family-base: 'Inter', sans-serif;



    --container-width: 1440px;
    --container-padding-x: 70px;
    --section-padding-y: 65px;



    --button-height-very-small: 28px;
    --button-height-small: 40px;
    --button-height-medium: 56px;
    --button-height-large: 62px;


    --transition-duration: 0.2s;
}